.chat
  .a
    .time [11/17/14, 9:02:47 PM]
    Гриць:
    %a(href="http://vimeo.com/86015446") http://vimeo.com/86015446
  .b
    .time [11/17/14, 10:23:56 PM]
    Данило: Так, це є. При умові, що з боку Майдану всі білі й пухнасті - весь беркут - зло. Але ти не дивишся на людей які цього не робили. Ти виправдовуєш людей які вбивали мілиціонерів. Я хотів би знайти тих хто на відео і відплатити тим самим. Як це зробити? Коли навіть ти не хочеш чути? Мене не влаштовує показова розправа над будь ким. Мене не влаштовує задоволення людей, які хочуть розправи хоча можуть іти до правди. Чому - тому що не мені треба, та я бачу в цьому ваду далеко наперед. Читав Марію Матіос “Уляна та Довгопол”? Не розумієш що таке громадянська війна? Мікро войни? Натравити людей одне на одного просто. Хто цього не розуміє - буде все життя воювати, нажаль не за правду.
  .a
    .time [11/17/14, 10:28:00 PM]
    Гриць: тут  важливо хто перший підняв палку. далі - думати не треба. далі - треба виживати. ніхто цих псів не заставляв розганяти Майжан палками. і потреби такої НЕ БУЛО. можна було просто випровадити всіх попід руки. Але ці істоти  - НЕЛЮДИ, які кайфують від знущань над слабшим, неозброєним... тому в мене до них ставлення як до скажених псів
  .b
    .time [11/17/14, 10:30:23 PM]
    Данило: Беркут - це солдати, як бультер’єри. Питання хто і як їх використовує. Це не виправдовує злочинів проти людяності, та чи не важливіше унеможливити таке використання?
    .time [11/17/14, 10:30:44 PM]
    Данило: Ящо ми їх не знаємо, якщо вони за парканом.
    .time [11/17/14, 10:30:50 PM]
    Данило: я хочу зняти паркан
    .time [11/17/14, 10:30:52 PM]
    Данило: це все
    .time [11/17/14, 10:31:28 PM]
    Данило: тоді я зможу їх контролювати просто тому що ми ближче
    .time [11/17/14, 10:32:39 PM]
    Данило: я хочу бачити що серед них не буде тих хто підниме палку
    .time [11/17/14, 10:33:48 PM]
    Данило: а як до них зайти якщо вони як їжаки зараз - всіх бояться?
  .a
    .time [11/17/14, 10:34:33 PM]
    Гриць: вихід:
    %ol
      %li муніципальна поліція
      %li фінансування від місцевого бюджету
      %li виборність керівників правоох органів
      %li справедливий суд
      %li збільшена відповідальнсть в рази за злочини проти людини
  .b
    .time [11/17/14, 10:35:25 PM]
    Данило: я хочу це поставити на сайт, допоможи мені доносити правильну ідею
    .time [11/17/14, 10:36:32 PM]
    Данило: Цю дискусію опублікую без імен
  .a
    .time [11/17/14, 10:36:53 PM]
    Гриць: Данило, ти надто цим переймаєшся. Не форсуй події. Суспільство еволює... Все йде своїм ходом...
  .b
    .time [11/17/14, 10:37:11 PM]
    Данило: можливо
  .a
    .time [11/17/14, 10:37:35 PM]
    Гриць: я не можу татові на пальцях пояснити що таке ПДВ
  .b
    .time [11/17/14, 10:37:53 PM]
    Данило: та чому ти думаєш що почуті думки це надто?
  .a
    .time [11/17/14, 10:38:01 PM]
    Гриць: не можу мамі пояснити що таке гроші, звідки вони беруться і як регулюється грошова маса
    .time [11/17/14, 10:38:11 PM]
    Гриць: це не їх час
  .b
    .time [11/17/14, 10:38:14 PM]
    Данило: але пояснюєш
  .a
    .time [11/17/14, 10:39:23 PM]
    Гриць: Діма, люди кричать "я за Україну справедливу", але в той самий час - підкрадають кожен на свої роботі, платять хабарі, беруть хабарі
    .time [11/17/14, 10:39:37 PM]
    Гриць: процес позбутися цього - довгий, не одномоментний
  .b
    .time [11/17/14, 10:41:17 PM]
    Данило: іще, я просто люблю Сергія і його сімю. я втрачав, і у інших людей є втрати важчі. Просто я хочу зробити все що бодай теоретично допоможе і їм.
  .a
    .time [11/17/14, 10:41:50 PM]
    Гриць: кожен з нас вибирає сам свій шлях.
  .b
    .time [11/17/14, 10:41:58 PM]
    Данило: так
  .a
    .time [11/17/14, 10:42:56 PM]
    Гриць: я не вірю що можна було обрати шлях "жити серед вовків", і "не вити по-вовчому"
  .b
    .time [11/17/14, 10:43:50 PM]
    Данило: але ти живеш серед тих хто підворовує. Може хтось перестав. в цьому справа
  .a
    .time [11/17/14, 10:45:14 PM]
    Гриць: більше підходить "може комусь обломалося"
    .time [11/17/14, 10:45:23 PM]
    Гриць: і нема змоги підкрадати
  .b
    .time [11/17/14, 10:45:25 PM]
    Данило: Іще, я не хочу вірити, я хочу бачити
    .time [11/17/14, 10:46:06 PM]
    Данило: а для того це треба відкрити
  .a
    .time [11/17/14, 10:46:25 PM]
    Гриць: Діма, треба терпіння. Вимагати неможливого = повставати проти Бога.
    .time [11/17/14, 10:46:48 PM]
    Гриць: Хочеш світити для людей - згориш сам.
  .b
    .time [11/17/14, 10:46:53 PM]
    Данило: та не вимагаю я нічого, я лише прагну
  .a
    .time [11/17/14, 10:47:00 PM]
    Гриць: Краще нехай все дійде під сонцем своїм ходом
  .b
    .time [11/17/14, 10:48:18 PM]
    Данило: гм, мабуть, я не альтруїст, я просто вірю в людей. це, дійсно, моя віра.
    .time [11/17/14, 10:49:51 PM]
    Данило: Є ті яким це цікаво. Як є митці. Я ж якось виріс, і якби не бачив нічого дивовижного був би сірий. Значить люди є.
  .a
    .time [11/17/14, 10:51:19 PM]
    Гриць: Краще в компютерах - там все логічно. Немає ні добра, ні зла....
  .b
    .time [11/17/14, 10:51:38 PM]
    Данило: ти лукавиш, я знаю
  .a
    .time [11/17/14, 10:52:11 PM]
    Гриць: все. філософія безкінечна як світ. йду щось почитати більш приземлене...
    .time [11/17/14, 10:52:48 PM]
    Гриць: і ти теж краще б до "діла" приклався... А то не доженеш мене.
  .b
    .time [11/17/14, 10:52:57 PM]
    Данило: :) можна я викладу нашу розмов? тілько правопис підправлю
  .a
    .time [11/17/14, 10:53:05 PM]
    Гриць: та роби що-хочеш
    .time [11/17/14, 10:53:09 PM]
    Гриць: :)
  .b
    .time [11/17/14, 10:53:15 PM]
    Данило: :)
  .a
    .time [11/17/14, 10:53:23 PM]
    Гриць sent a file to this group:
    10311140_799356936769505_3483849957118737974_n.jpg
    .time [11/17/14, 10:53:28 PM]
    Гриць: це посміятися
  .b
    .time [11/17/14, 10:53:37 PM]
    Данило: теж треба
    .time [11/17/14, 10:53:54 PM]
    Данило: давай ще раз
  .a
    .time [11/17/14, 10:55:00 PM]
    Гриць sent a file to this group:
    %img(src="http://content.screencast.com/users/DimaSamodurov/folders/Snagit/media/cdf9c4d6-fde7-448b-840c-1b9d5631d124/2014-11-18_04-33-58.png")
    .time [11/17/14, 10:55:25 PM]
    Гриць: пастор і кулемет - символічно
  .b
    .time [11/17/14, 10:55:29 PM]
    Данило: :)))
    .time [11/17/14, 11:05:29 PM]
    Данило: ,, я тупий.. зрозумів що таке “діло” :)
  .a
    .time [11/17/14, 11:09:48 PM]
    Гриць: :D--

%hr
  %pre
    P.S.
    Я так нічого і не відредагував. Це хроніка, має йти як є. Чим меньше редакції - тим краще.
    За правопис стидно, та - у школі треба було вчити. 
    Лише імена змінив, і то - де-не-де.
  %pre
    P.P.S
    A "Діло" це "діти.. в майбутньому" - у мене ще немає, от, Гриць і натякає :)


